name: Build MIO-KITCHEN

on:
  push:
    tags:
      - 'v*'
      - 'CI_BUILD_*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    strategy:
      matrix:
        include:
          - arch: 'x64'
            name: 'win7-11.x64'
          - arch: 'x86'
            name: 'win7-11.x86'
    
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8.10'
        architecture: ${{ matrix.arch }}
        
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
      
    - name: Run build script
      run: |
        python build.py
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MIO-KITCHEN-${{ matrix.name }}
        path: 'MIO-KITCHEN-${{ matrix.name }}.zip'

  build-linux:
    runs-on: ubuntu-24.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
      
    - name: Run build script
      run: |
        python build.py
        
    - name: Rename artifact
      run: |
        if [ -f "MIO-KITCHEN-linux.x64.zip" ]; then
          mv MIO-KITCHEN-linux.x64.zip MIO-KITCHEN-ubuntu24.04-x64.zip
        fi
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MIO-KITCHEN-ubuntu24.04-x64
        path: 'MIO-KITCHEN-ubuntu24.04-x64.zip'

  build-macos:
    strategy:
      matrix:
        include:
          - os: macos-15-intel  # Intel (macOS 15)
            python: '3.12'
            name: 'macos15-intel-x64'
            original: 'macos.x64'
          - os: macos-15  # ARM64 (macOS 15)
            python: '3.12'
            name: 'macos15-arm64'
            original: 'macos.arm64'
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
        
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
      
    - name: Run build script
      run: |
        python build.py
        
    - name: Rename artifact
      run: |
        if [ -f "MIO-KITCHEN-${{ matrix.original }}.zip" ]; then
          mv MIO-KITCHEN-${{ matrix.original }}.zip MIO-KITCHEN-${{ matrix.name }}.zip
        fi
        
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MIO-KITCHEN-${{ matrix.name }}
        path: 'MIO-KITCHEN-${{ matrix.name }}.zip'
          
  release:
    needs: [build-windows, build-linux, build-macos]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts
        
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: artifacts/**/*.zip
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
