name: Build MIO-KITCHEN

on:
  push:
    tags:
      - 'v*'
      - 'CI_BUILD_*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python 3.8.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.8.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Run build script
      run: |
        python build.py
        
    - name: Get tag name
      id: tag
      run: |
        if ($env:GITHUB_REF -match 'refs/tags/(.*)') {
          echo "tag=$($matches[1])" >> $env:GITHUB_OUTPUT
        } else {
          echo "tag=manual-build" >> $env:GITHUB_OUTPUT
        }
      shell: pwsh
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: MIO-KITCHEN-${{ steps.tag.outputs.tag }}
        path: |
          MIO-KITCHEN-*.zip
          
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        files: MIO-KITCHEN-*.zip
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
